# general  modules
django == 4.1.5
python-decouple
pillow
djangorestframework

# third party modules
markdown       
django-filter  
drf-yasg[validation]
djangorestframework-simplejwt
djoser
django-cors-headers

# email third party modules
django-mail-templated

# refactoring and tests
black
flake8
Faker

# background proccess and cache
celery
django_celery_beat
redis
django-redis